

button {
  padding: 10px 20px; 
  font-size: 18px; 
  background-color: #ece4c9; 
  color: rgb(255, 4, 109); 
  border: none; 
  cursor: pointer; 
  border-radius: 12px; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #28aa83; 
}

